[submodule "uavdot"]
	path = uavdot
	url = git@github.com:up-count/uav-dot.git
[submodule "eval/TrackEval"]
	path = eval/TrackEval
	url = git@github.com:JonathonLuiten/TrackEval.git
[submodule "pyeco"]
	path = pyeco
	url = git@github.com:StrangerZhang/pyECO.git
